html
{
  height: 100%;
  overflow: hidden;
}
body
{
  min-height: 100%;
  background-image: linear-gradient(to bottom right,#093028,#237A57);
  background-repeat: no-repeat;
  background-size: cover;
}
h1
{
  font-size: 55px !important;
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gloria Hallelujah', cursive !important;
}
h1
{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gloria Hallelujah', cursive;
}
.cover
{
  margin:5% 0%;
  height: 100%;
}
