<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/header.css">

  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>SocialCops</title>
</head>
<body>
    <% include partials/header %>

    <div class="cover row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>Welcome to the Social Cops</h1>
        <h1></h1>
      </div>
    </div>

</body>
</html>
