<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/forget.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <title>Account</title>
</head>
<body>
  <header>
    <a href="/"><img class="logo-text" src="assets/amphere-text.svg"></a>
  </header>
    <div class="cover">
          <div class="reset-container">
            <% include partials/header %>
            <div>
              <p class="reset">Enter your email to reset password</p>
              <form class="form-group" action="/resetPassword" method="post">
                  <input id="email" type="text" name="email" value="" placeholder="Email" autofocus spellcheck="false">
                  <input id="reset-button" type="submit" name="reset" value="Reset Passowrd">
              </form>
            </div>
          </div>
    </div>
</body>
</html>
