<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/login.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

  <title>SocialCops</title>
</head>
<body>
  <div class="cover row">
    <div class="login-content col-md-4 col-sm-4 col-xs-12">
      <div class="heading col-md-12 col-sm-12 col-xs-12">
        <h1>Login</h1>
      </div>
      <div class="login-input col-md-12 col-sm-12 col-xs-12">
        <input id="user" type="text" name="user" value="" placeholder="phone/email">
        <input id="password" type="text" name="password" value="" placeholder="password">
        <a href="/forget">Forget Your Password</a>
        <button id="login-button" type="button" name="button">Login</button>
        <p>Don't have an account?</p><a href="http://homepage:3000/signup">Signup</a>
      </div>
    </div>
  </div>



<script type="text/javascript" src="js/login.js"></script>
</body>
</html>
